h1, h2, h3, h4 {
    margin: 0px 0px 0px 0px;
}

h3 {
    margin-bottom: 5px;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: underline;
}

.n_table {
    text-align:left;
    font-family: 'Kanit Semibold', sans-serif;
    width: 100%;
    margin: 10px 0px 10px 0px;
    font-style: italic;
}

#images {
    padding: 5px 10px 5px 10px;
}

.nt_th, .nnt_th {
    color: white;
    font-size: 18px;
    padding: 10px 0px 10px 10px;
    /*border-bottom:1px solid white;*/
}

.nnt_th, .nn_table{
    font-size: 18px;
    height: 100%;
    left-padding: 5px;
}

.nt_th:hover {
    background-color: #6f3f46;
}

.nnt_th:hover {
    background-color: #210d10;
}

.c_element {
    margin: 10px 10px 10px 10px;
    padding: 5px 5px 5px 5px;
    /*background-color: #e3e4e5;  GRAY */
    background-color: #f8f2e9;    /* YELLOW */
}

.navbar {
    float: left;
    height: 100%;
    width: 0%;
    background-color: #542329;
    animation-timing-function: linear;
    -webkit-animation-timing-function: linear;
    -webkit-animation: nav_hide 0.2s;
    animation: nav_hide 0.2s;
}

.content {
    float:right;
    height: 100%;
    width: 100%;
    animation-timing-function: linear;
    -webkit-animation-timing-function: linear;
    -webkit-animation: contact_display 0.2s;
    animation: contact_display 0.2s;
}

#element_container {
    width: 100%;
    height: 85%;
    overflow: auto;
}

#navbar_container {
    margin:auto;
    height: 100%;
}

#n_img {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

/* ------ ICON ANIMATION -------------- */
#icn {
    float:left;
    position: absolute;
    background-color: #542329;
    padding: 5px 5px 0px 5px;
    top: 5px;
}
.container {
    display: inline-block;
    cursor: pointer;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
    transform: rotate(-45deg) translate(-9px, 6px) ;
}

.change .bar2 {opacity: 0;}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
    transform: rotate(45deg) translate(-8px, -8px) ;
}

/* -------- ANIMATION NAVBAR ------*/
.move_nav {
    -webkit-animation-timing-function: linear;
    -webkit-animation: nav_show 0.5s;
    animation: nav_show 0.5s;
    width: 35%;
}

@-webkit-keyframes nav_show {
    from {width: 0%;}
    to {width: 35%;}
}
@keyframes nav_show {
    from {width: 0%;}
    to {width: 35%;}
}

@-webkit-keyframes nav_hide {
    from {width: 35%;}
    to {width: 0%;}
}
@keyframes nav_hide {
    from {width: 35%;}
    to {width: 0%;}
}

/* ----- ANIMATION CONTENT --------*/
.move_content {
    -webkit-animation-timing-function: linear;
    -webkit-animation: contact_shrink 0.5s;
    animation: contact_shrink 0.5s;
    width: 65%;
}
@-webkit-keyframes contact_shrink {
    from {width: 100%;}
    to {width: 65%;}
}
@keyframes contact_shrink {
    from {width: 100%;}
    to {width: 65%;}
}

@-webkit-keyframes contact_display {
    from {width: 65%;}
    to {width: 100%;}
}
@keyframes contact_dispaly {
    from {width: 65%;}
    to {width: 100%;}
}

/* ------------ presentation -------- */
#contact_div {
    /*overflow-y: hidden;
    overflow-x: auto;*/
    margin-left: 5px;
}
.contact_link_div {
    margin: 2px 2px 2px 2px;
    display: inline-block;
    width: 75px;
    height: 75px;
    background-color: #c1b8aa; /* red ish */
}

.l_c {
    width: 100%;
    height: 100%;
    text-decoration: none;
    display: block;
    padding-top: 25%;
}

.c_img {
    width: 50%;
    height: 50%;
    margin: auto;
    display: block;
}

/* ------------ IMAGE DISPLAY ------------- */
.p_img {
    width: 100%;
    height: 100%;
    margin-top: 10px;
}

/* ----------- MISC ---------------- */
.padding {
    width: 100%;
    height: 10px;
}

.back_icon {
    margin: 10px 10px 10px 0px;
    text-align: center;
    width: 100%;
}

#copyr {
    color: white;
    margin: 20px 10px 10px 10px;
}

.separator {
    background-color: white;
    color: white;
    height: 1px;
    border: none;
}

.hide_sep {
    background-color: #654444;
    color: #654444;
}
