html {
    width:100%;
    height:100%;
    position: relative;
}

body {
    color: #000;
    margin: 0 0 0 30px;
    height:100%;
    font-size: 20px;
    font-family: 'Abel';
    letter-spacing: 1px;
    overflow: hidden;
}

.title {
    padding: 20px 0 20px 0;
}

h1 {
    text-transform: uppercase;
    font-family: 'Teko';
    letter-spacing: 4px;
    font-size: 50px;
}

h2 {
    margin: 0;
}

h3 {
    margin: 0 0 30px 0;
}

a, a:visited, a:link, a:active {
    color: #000;
}

p {
    font-family: 'Roboto';
    text-align: justify;
}

tr {
    margin: 0;
}

th {
    font-weight: normal;
    padding: 0px 0px 0px 0px;
}

.noscriptmsg {
    position: absolute;
    bottom:10px;
    left:10px;
    right:5px;
    border: 1px solid rgb(173, 158, 79);
    border-radius: 5px;
    padding: 0px 10px 0px 10px;
    background-color: rgb(255, 233, 117);
    color: rgb(94, 83, 27);
}

#box {
    font-size:15px;
    background-color: #e0e0e0;
    color: #0f0f0f;
    position: relative;
    margin: 0 0 0 300px;
    height:100%;
}

#main {
    position: fixed;
    text-align: left;
    border-spacing: 5px;
    width: 350px;
    height: 100%;
}

#middle_text {
    text-align: center;
    margin: auto;
    vertical-align: middle;
}

#box_content {
    height: 95%;
    margin: 0;
    padding: 30px;
    overflow: scroll;
}

#language_changer {
    position: absolute;
    bottom: 10px;
}

#navbar {
    text-align: left;
    padding-left: 0px;
}

.p_link {
    text-decoration: none;
}

/*
 *-----------------------------------------------------------------+
 *|              changing file to resume.html style                |
 *-----------------------------------------------------------------+
 */

#dwnld_btn {
    border: 1px solid black;
    border-radius: 5px;
    color: white;
    display: inline-block;
    padding: 5px 5px 5px 5px;
    background-color:rgb(25, 25, 25);
}

#dl_link {
    color: white;
    text-decoration: none;
}

/*
 * -------------------------------------------------------------+
 * |          changing file to contact.html style               |
 * -------------------------------------------------------------+
 */

.contact_link {
    text-decoration: underline;
}
.contact_link:hover {
  color: black;
}
